.imageCarousel {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.subTitle {
  padding: 0 1rem;
}

.imageCarouselCaption {
  position: absolute;
  top: 8%;
  left : 15%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 2rem;
}

@media screen and (max-width: 700px) {
  .imageCarouselCaption {
    font-size: 10px;
  }
}
